<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Read</title>
  </head>
  <body>
    <div class="conatiner">
        <div class="mb-1"><h1><%=article.title%></h1></div>
        <div class="text-muted">
          <%=article.date.toLocaleDateString()%>
      </div>
      <div class="m-2">
        <a href="/" class="btn btn-secondary">All blogs</a>
        <a href="/edit/<%=article.id%>" class="btn btn-info">Edit</a>
      </div>
        <div class="text-muted">
          <%=article.description%>
      </div>
        <div>
            <%=article.markdown%>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>